<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="bootstrap-3.3.5-dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="style.css">
	<script src="jquery.min.js"></script>
	<script src="angular.min.js"></script>
	<script src="bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
	<script src="controller.js"></script>
</head>
<body ng-controller="myController">

<div id="filter">
	<input ng-model="filterSearch" type="text">
</div>

<div class="container">
	<ul>
		<li ng-repeat="person in students | filter: filterSearch | orderBy: 'name'">
			<span class="col-md-8">{{person.name}}: {{person.desc}}</span>
			<a class="btn btn-primary col-md-3" href="#" ng-click="removeStudent(person)">Remove</a>
		</li>
	</ul>
</div>
	<form ng-submit="addPerson()">
		<input type="text" ng-model = "newName" placeholder="Name...">
		<input type="text" ng-model = "newDesc" placeholder="Description...">
		<input type="submit">
	</form>

</body>
</html>